h1, h2,p {
  font-family: Lato;
  color: yellowgreen;
  text-align: center;
}
p{
  font-size: 45px;
  font-weight: bold;
  color: yellow;
}
#app{
  background-color: #706897;
  padding: 1em 1em 6em 1em;
  margin: 1em ;
  width: 90%;
  /* height: 500px; */
  border-radius: 10px;
  text-align: center;
  
  
}
button{
  background-color:#fff;
  border-radius: 7px;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  font-weight: bold;

}
span{
  background: yellowgreen;
  color: black;
}
.btnReset, .btnStop{
  display: none;
}
.btnStart{
  color: #51adcf;
  border: 3px solid #51adcf;
}
.btnStop{
  color: #e11d74;
  border: 3px solid #e11d74;
}
.btnReset{
  color: #810000;
  border: 3px solid #810000;
}
