h1, h2,p {
  font-family: Lato;
  color: yellowgreen;
  text-align: center;
}
p{
  font-size: 45px;
  font-weight: bold;
  color: yellow;
}
#app{
  background-color: #706897;
  padding: 1em ;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  /* display: flexbox;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto; */
  width: 400px;
  border-radius: 10px;
  text-align: center;
  
}
button{
  background-color:#fff;
  border-radius: 7px;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  font-weight: bold;

}
span{
  background: yellowgreen;
  color: black;
}
.btnReset, .btnStop{
  display: none;
}
.btnStart{
  color: #51adcf;
  border: 3px solid #51adcf;
}
.btnStop{
  color: #e11d74;
  border: 3px solid #e11d74;
}
.btnReset{
  color: #810000;
  border: 3px solid #810000;
}
.back{
  padding: 3%;
  background:#4f8a8b;
  height: 200px;
}
body{
  margin: 0em;
  background-color: #222831;
}