h1, h2,p {
  font-family: Lato;
  color: yellowgreen;
  text-align: center;
}
p{
  font-size: 45px;
  font-weight: bold;
  color: yellow;
}
#app{
  background-color: black;
  padding: 1em 1em 6em 1em;
  margin: 1em ;
  width: 90%;
  /* height: 500px; */
  border-radius: 10px;
  text-align: center;
  
  
}
button{
  color: black;
  background-color:white;
  border-radius: 7px;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  font-weight: bold;

}
span{
  background: yellowgreen;
  color: black;
}
.btnReset, .btnStop{
  display: ;
}
.btnStart{
  border: 2px solid rgb(255, 46, 115);
}
.btnStop{
  border: 2px solid rgb(255, 251, 45);
}
.btnReset{
  border: 2px solid #4CAF50;
}
